body {
    background-color: #01470e;
    color: rgb(238, 231, 231);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8ae147;
    color: rgb(10, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 50%;
}

img {
    max-width: 90%;
}
